/* ===== TEXT ===== */

$text-primary:              #1E1A1B;
$text-secondary:            #FFFFFF;
$text-tetriary:             #A8A8A8;

$text-action:               #004EA8;
$text-action-hover:         #024695;
$text-action-active:        #04488B;
$text-action-2:             #E94B3D;

$text-negative:             #E31C1C;
$text-positive:             #00B92D;

/* ================ */

/* ===== BORDER ===== */

$border-primary:            #A8A8A8;
$border-secondary:          #CDCDCD;
$border-action:             #004EA8;

$border-negative:           #E31C1C;

/* ================== */

/* ===== BACKGROUND ===== */

$background-secondary:      #DBE7F2;

$background-action:         #004EA8;
$background-action-hover:   #0255A8;
$background-action-active:  #04488B;

$background-base-primary:   #F5F5F5;
$background-base-secondary: #FFFFFF;

$background-negative:       #FFE5E5;
$background-positive:       #DDF5DA;

/* ====================== */

/* ===== CHECKBOX ===== */

$checkbox-default:          #DBE7F2;
$checkbox-default-hover:    #D2E1EE;
$checkbox-default-active:   #B1CEE7;
$checkbox-default-disabled: #DCDCDC;

$checkbox-border-active:    #033063;

$checkbox-selected:           $text-action;

/* ==================== */